<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMcct7KVIm7yTRe-GlmFedgT1GHHIEBWE</string>
	<key>GCM_SENDER_ID</key>
	<string>482571695045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miaged.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>miaged-4a5bc</string>
	<key>STORAGE_BUCKET</key>
	<string>miaged-4a5bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482571695045:ios:2fba5629ccbe0a0018d1ac</string>
</dict>
</plist>